bluemix/discovery.txt
[{"id":"f6ca74d2.c72d68","type":"watson-discovery-v1","z":"81c6d51a.982d5","name":"DiscoverContrato","environmentname":"Contratos","environment_id":"Contratos","collection_id":"","configurationname":"","configuration_id":"id","collection_name":"contratos","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"Contratos","size":"700","discovery-method":"listEnvrionments","x":308,"y":187,"wires":[["bd3a67f0.266f48"]]},{"id":"198bde48.c644a2","type":"inject","z":"81c6d51a.982d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":56,"wires":[["f6ca74d2.c72d68"]]},{"id":"bd3a67f0.266f48","type":"debug","z":"81c6d51a.982d5","name":"","active":true,"console":"false","complete":"true","x":449,"y":87,"wires":[]},{"id":"174f7255.ab427e","type":"watson-discovery-v1","z":"81c6d51a.982d5","name":"","environmentname":"","environment_id":"d598318d-983a-4797-bf3b-f128980fcc54","collection_id":"","configurationname":"","configuration_id":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"listCollections","x":302,"y":285,"wires":[["bd3a67f0.266f48"]]},{"id":"27bbcdde.4b7e82","type":"inject","z":"81c6d51a.982d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":229,"wires":[["174f7255.ab427e"]]}]