bluemix/Etl.txt
[{"id":"ef45402a.94c6e","type":"inject","z":"1d870fc4.9e026","name":"","topic":"","payload":"oi","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["9b6fba74.674048","e4a91666.2281"]]},{"id":"9b6fba74.674048","type":"debug","z":"1d870fc4.9e026","name":"","active":false,"console":"false","complete":"false","x":537,"y":151,"wires":[]},{"id":"9408b77c.27c988","type":"inject","z":"1d870fc4.9e026","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":143,"wires":[["1e759164.3f52e7"]]},{"id":"b4b7b0c6.3bd67","type":"http request","z":"1d870fc4.9e026","name":"","method":"GET","ret":"txt","url":"http://compras.dados.gov.br/contratos/v1/contratos.json?offset=0","tls":"","x":192,"y":363,"wires":[["6ec1242e.c146d4"]]},{"id":"e190934f.a6746","type":"inject","z":"1d870fc4.9e026","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":292,"wires":[["b4b7b0c6.3bd67"]]},{"id":"8f19183.342c9e8","type":"debug","z":"1d870fc4.9e026","name":"Contratos","active":true,"console":"false","complete":"payload","x":596,"y":444,"wires":[]},{"id":"6ec1242e.c146d4","type":"json","z":"1d870fc4.9e026","name":"","pretty":false,"x":301,"y":272,"wires":[["8f19183.342c9e8","a3b11a0e.36dab"]]},{"id":"b4aa85e.22e08f8","type":"cloudant out","z":"1d870fc4.9e026","name":"","cloudant":"","database":"comprasdadosgovbr","service":"Fiscal-CidadaoV2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":240,"y":580,"wires":[]},{"id":"a67f47a8.c7111","type":"function","z":"1d870fc4.9e026","name":"","func":"function sleep(time, callback) {\n    var stop = new Date().getTime();\n    while(new Date().getTime() < stop + time) {}\n    callback();\n}\nvar i = 0;\nfor ( var i = 0; i < msg.count; i++) {\n    sleep(1000, function() {\n        msg.payload = msg.contratos[i++];\n        node.send(msg);\n    });\n}\n\n\n//var seconds = 2;\n//for ( var i = 0; i < msg.count; i++) {\n//    msg.payload = msg.contratos[i++];\n//    node.send(msg);\n//    var waitTill = new Date(new Date().getTime() + seconds * 1000);\n//    while(waitTill > new Date()){}\n//}\n\nreturn;\n\n","outputs":1,"noerr":0,"x":370,"y":360,"wires":[[]]},{"id":"5cf2345e.af2f2c","type":"debug","z":"1d870fc4.9e026","name":"countMax","active":true,"console":"false","complete":"countMax","x":515,"y":491,"wires":[]},{"id":"a3b11a0e.36dab","type":"function","z":"1d870fc4.9e026","name":"set","func":"msg.countMax = msg.payload.count;\nmsg.contratos = msg.payload._embedded.contratos;\nmsg.count = msg.contratos.length;\n//msg.count = 50;\nmsg.id = 0;\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":284,"wires":[["5cf2345e.af2f2c","f5d97870.b14be","37a9629f.db647e","c085937a.d473b"]]},{"id":"f5d97870.b14be","type":"debug","z":"1d870fc4.9e026","name":"contratos","active":true,"console":"false","complete":"contratos","x":515,"y":545,"wires":[]},{"id":"37a9629f.db647e","type":"debug","z":"1d870fc4.9e026","name":"count","active":true,"console":"false","complete":"count","x":508,"y":605,"wires":[]},{"id":"7a6fa902.56b03","type":"debug","z":"1d870fc4.9e026","name":"Contratos","active":false,"console":"false","complete":"payload.uasg","x":480,"y":680,"wires":[]},{"id":"e4a91666.2281","type":"cloudant out","z":"1d870fc4.9e026","name":"","cloudant":"","database":"comprasdadosgovbrtestev2","service":"Fiscal-CidadaoV2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":540,"y":60,"wires":[]},{"id":"1e759164.3f52e7","type":"cloudant in","z":"1d870fc4.9e026","name":"","cloudant":"","database":"comprasdadosgovbrtestev2","service":"Fiscal-CidadaoV2-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":320,"y":180,"wires":[["9b6fba74.674048"]]},{"id":"c085937a.d473b","type":"function","z":"1d870fc4.9e026","name":"for each","func":"if (msg.id == undefined) {\n    msg.id = 0;\n}\nmsg.payload_ = msg.contratos[msg.id];\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":420,"wires":[["8c34b8a9.4824d"]]},{"id":"fc41ed10.5c898","type":"function","z":"1d870fc4.9e026","name":"move","func":"msg.payload = msg.payload_ ;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["dbf6fd3.ef6168","7a6fa902.56b03","2f730e0c.e73522","b4aa85e.22e08f8","289a8501.a34e8a"]]},{"id":"dbf6fd3.ef6168","type":"function","z":"1d870fc4.9e026","name":"next","func":"if (msg.id < msg.count){\n   msg.id++;\n   return msg;\n} else {\n    msg.id = 0;\n}","outputs":1,"noerr":0,"x":130,"y":640,"wires":[["c085937a.d473b"]]},{"id":"2f730e0c.e73522","type":"debug","z":"1d870fc4.9e026","name":"id","active":false,"console":"false","complete":"id","x":270,"y":720,"wires":[]},{"id":"8c34b8a9.4824d","type":"delay","z":"1d870fc4.9e026","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":420,"wires":[["fc41ed10.5c898"]]},{"id":"19a9b5c8.9f8de2","type":"debug","z":"1d870fc4.9e026","name":"","active":true,"console":"false","complete":"environments","x":774,"y":186,"wires":[]},{"id":"c966a8b4.8bd078","type":"discovery-insert","z":"1d870fc4.9e026","name":"insert into contrato","environment":"Contratos","collection":"contrato","delay":1000,"max_Q_size":10000,"x":682,"y":717,"wires":[["b6ea77d8.00157"]]},{"id":"b6ea77d8.00157","type":"debug","z":"1d870fc4.9e026","name":"","active":true,"console":"false","complete":"true","x":658,"y":887,"wires":[]},{"id":"289a8501.a34e8a","type":"function","z":"1d870fc4.9e026","name":"set env & collection","func":"msg.environment_id = \"d598318d-983a-4797-bf3b-f128980fcc54\";\nmsg.collection_id =\"b7b58b38-895b-4d6d-a21e-29598830cfd3\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":652,"wires":[["c966a8b4.8bd078"]]}]