bluemix/Flow1.txt
[{"id":"f3ca7260.a55318","type":"tab","label":"Flow 1"},{"id":"5d5bc7d5.408f88","type":"debug","z":"f3ca7260.a55318","name":"","active":true,"console":"true","complete":"payload","x":360,"y":120,"wires":[]},{"id":"21c88f58.58c418","type":"http in","z":"f3ca7260.a55318","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":102,"y":121,"wires":[["9ac63492.1ce228","5d5bc7d5.408f88"]]},{"id":"9ac63492.1ce228","type":"function","z":"f3ca7260.a55318","name":"","func":"var usuario = msg.payload.username;\nvar pwd = msg.payload.password;\n\nvar res = usuario.toUpperCase() == \"AC\";\n//var patt1 = /ac/i;\n//var res = patt1.ignoreCase;\n\nconsole.log( 'usuario:', usuario , ' Compare:' , res)\n\nif (res){\nmsg.payload = \"{ \"+\n\"   \\\"locais\\\" : [ \"+\n\"      {\"+\n\"         \\\"audiosn\\\" : \\\"S\\\",\"+\n\"         \\\"cargo\\\" : \\\"\\\",\"+\n\"         \\\"coord\\\" : \\\"-23.5736779,-46.6618191\\\",\"+\n\"         \\\"end\\\" : \\\"r.caconde,289\\\",\"+\n\"         \\\"estado\\\" : \\\"0\\\",\"+\n\"         \\\"foto\\\" : \\\"\\\",\"+\n\"         \\\"horario\\\" : \\\"\\\",\"+\n\"         \\\"idexternor\\\" : \\\"edartjardins\\\",\"+\n\"         \\\"nomeid\\\" : \\\"Le Grant Art\\\",\"+\n\"         \\\"pwd\\\" : \\\"137113\\\",\"+\n\"         \\\"template\\\" : \\\"3\\\",\"+\n\"         \\\"url\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\",\"+\n\"         \\\"user\\\" : \\\"admin\\\",\"+\n\"         \\\"usuario\\\" : \\\"\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"audiosn\\\" : \\\"S\\\",\"+\n\"         \\\"cargo\\\" : \\\"\\\",\"+\n\"         \\\"coord\\\" : \\\"-23.5732671,-46.662329\\\",\"+\n\"         \\\"end\\\" : \\\"r.caconde,365\\\",\"+\n\"         \\\"estado\\\" : \\\"0\\\",\"+\n\"         \\\"foto\\\" : \\\"\\\",\"+\n\"         \\\"horario\\\" : \\\"\\\",\"+\n\"         \\\"idexternor\\\" : \\\"edcortina\\\",\"+\n\"         \\\"nomeid\\\" : \\\"Cortina D'Ampezo\\\",\"+\n\"         \\\"pwd\\\" : \\\"137113\\\",\"+\n\"         \\\"template\\\" : \\\"3\\\",\"+\n\"         \\\"url\\\" : \\\"http://playertest.longtailvideo.com/adaptive/oceans_aes/oceans_aes.m3u8\\\",\"+\n\"         \\\"user\\\" : \\\"admin\\\",\"+\n\"         \\\"usuario\\\" : \\\"\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"idexternor\\\" : \\\"edjoseferraz\\\",\"+\n\"         \\\"audiosn\\\" : \\\"N\\\",\"+\n\"         \\\"cargo\\\" : \\\"\\\",\"+\n\"         \\\"coord\\\" : \\\"-23.5709598,-46.6571644\\\",\"+\n\"         \\\"end\\\" : \\\"r.jose maria lisboa,185\\\",\"+\n\"         \\\"estado\\\" : \\\"0\\\",\"+\n\"         \\\"foto\\\" : \\\"\\\",\"+\n\"         \\\"horario\\\" : \\\"\\\",\"+\n\"         \\\"nomeid\\\" : \\\"Jose Ferraz\\\",\"+\n\"         \\\"pwd\\\" : \\\"paulista\\\",\"+\n\"         \\\"template\\\" : \\\"1\\\",\"+\n\"         \\\"url\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\",\"+\n\"         \\\"user\\\" : \\\"paulista\\\",\"+\n\"         \\\"usuario\\\" : \\\"\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"audiosn\\\" : \\\"S\\\",\"+\n\"         \\\"cargo\\\" : \\\"\\\",\"+\n\"         \\\"coord\\\" : \\\"-23.5734006,-46.6620858\\\",\"+\n\"         \\\"end\\\" : \\\"r.caconde,333\\\",\"+\n\"         \\\"estado\\\" : \\\"0\\\",\"+\n\"         \\\"foto\\\" : \\\"\\\",\"+\n\"         \\\"horario\\\" : \\\"\\\",\"+\n\"         \\\"idexternor\\\" : \\\"edkatmandu\\\",\"+\n\"         \\\"nomeid\\\" : \\\"Katmandu\\\",\"+\n\"         \\\"pwd\\\" : \\\"137113\\\",\"+\n\"         \\\"template\\\" : \\\"3\\\",\"+\n\"         \\\"url\\\" : \\\"http://playertest.longtailvideo.com/adaptive/oceans_aes/oceans_aes.m3u8\\\",\"+\n\"         \\\"user\\\" : \\\"admin\\\",\"+\n\"         \\\"usuario\\\" : \\\"\\\"\"+\n\"      }\"+\n\"   ],\"+\n\"   \\\"trace\\\" : {\"+\n\"      \\\"md5\\\" : \\\"5287889F30C115165E97556306C82719\\\",\"+\n\"      \\\"parameters\\\" : \\\"\\\",\"+\n\"      \\\"pathinfo\\\" : \\\"login date:06-jan-2014 18:22:50 (05)\\\",\"+\n\"      \\\"pgm\\\" : \\\"cgiXplParameters.exe\\\",\"+\n\"      \\\"request\\\" : \\\"POST\\\",\"+\n\"      \\\"versao\\\" : \\\"xPL CGI+ 200ms e Api Google maps v4.0.9.67 by acolivei (build 2013/11/19)\\\"\"+\n\"   },\"+\n\"   \\\"usuarios\\\" : {\"+\n\"      \\\"atencao\\\" : \\\"0\\\",\"+\n\"      \\\"codanel\\\" : \\\"3\\\",\"+\n\"      \\\"coord\\\" : \\\"-23.5733037069291,-46.6602604772461\\\",\"+\n\"      \\\"emergencia\\\" : \\\"1\\\",\"+\n\"      \\\"end\\\" : \\\"al.campinas,1608\\\",\"+\n\"      \\\"idexterno\\\" : \\\"eddelrey\\\",\"+\n\"      \\\"nivel\\\" : \\\"3\\\",\"+\n\"      \\\"nomeid\\\" : \\\"Del Rey\\\",\"+\n\"      \\\"sessionid\\\" : \\\"c831dac7b88ab2e803e4\\\",\"+\n\"      \\\"usuario\\\" : \\\"userionic\\\"\"+\n\"   }\"+\n\"}\"\n} else {\n  msg.payload = \"{\"+\n\"   \\\"agenda\\\" : [],\"+\n\"   \\\"camera\\\" : [\"+\n\"      {\"+\n\"         \\\"cam\\\" : 1,\"+\n\"         \\\"complemento\\\" : \\\"Cam1\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc1\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 2,\"+\n\"         \\\"complemento\\\" : \\\"Cam2\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc2\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 3,\"+\n\"         \\\"complemento\\\" : \\\"Cam3\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc3\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 4,\"+\n\"         \\\"complemento\\\" : \\\"Cam4\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc4\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 5,\"+\n\"         \\\"complemento\\\" : \\\"Cam5\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc5\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 6,\"+\n\"         \\\"complemento\\\" : \\\"Cam6\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc6\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 7,\"+\n\"         \\\"complemento\\\" : \\\"Cam7\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc7\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      },\"+\n\"      {\"+\n\"         \\\"cam\\\" : 8,\"+\n\"         \\\"complemento\\\" : \\\"Cam8\\\",\"+\n\"         \\\"idexternor\\\" : \\\"tecnicopc8\\\",\"+\n\"         \\\"url5\\\" : \\\"http://playertest.longtailvideo.com/adaptive/wowzaid3/playlist.m3u8\\\"\"+\n\"      }\"+\n\"   ],\"+\n\"   \\\"pathbackup\\\" : \\\"\\\",\"+\n\"   \\\"pathserver\\\" : \\\"\\\",\"+\n\"   \\\"trace\\\" : {\"+\n\"      \\\"date\\\" : \\\"11/08/2016 18:10:17\\\",\"+\n\"      \\\"parms\\\" : \\\"\\\",\"+\n\"      \\\"pathinfo\\\" : \\\"/login\\\",\"+\n\"      \\\"pgm\\\" : \\\"red.js\\\",\"+\n\"      \\\"request\\\" : \\\"post\\\",\"+\n\"      \\\"vrs\\\" : \\\"NodeJs v1.0.0.02 by aco\\\"\"+\n\"   },\"+\n\"   \\\"usuarios\\\" : {\"+\n\"      \\\"atencao\\\" : \\\"0\\\",\"+\n\"      \\\"codanel\\\" : 9,\"+\n\"      \\\"coord\\\" : \\\"-17.6406842,-47.7727391\\\",\"+\n\"      \\\"emergencia\\\" : \\\"0\\\",\"+\n\"      \\\"end\\\" : \\\"Rua Augusta,1371\\\",\"+\n\"      \\\"idexterno\\\" : \\\"tecnicopc\\\",\"+\n\"      \\\"nivel\\\" : 4,\"+\n\"      \\\"nomeid\\\" : \\\"tecnicopc\\\",\"+\n\"      \\\"sessionid\\\" : \\\"87f1d5f75e1b044427a4\\\",\"+\n\"      \\\"usuario\\\" : \\\"seguranca\\\"\"+\n\"   }\"+\n\"}\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":179,"wires":[["5d5bc7d5.408f88","dbd81c3.58113e"]]},{"id":"dbd81c3.58113e","type":"http response","z":"f3ca7260.a55318","name":"","statusCode":"","headers":{},"x":438.9409942626953,"y":181.982666015625,"wires":[]},{"id":"be330f71.7f763","type":"http in","z":"f3ca7260.a55318","name":"","url":"/login","method":"post","upload":true,"swaggerDoc":"","x":112.89582824707031,"y":33.888885498046875,"wires":[["5d5bc7d5.408f88","9ac63492.1ce228"]]},{"id":"51e929cc.269318","type":"debug","z":"f3ca7260.a55318","name":"","active":true,"console":"false","complete":"payload","x":350,"y":340,"wires":[]},{"id":"3e21f3a5.55fb8c","type":"http in","z":"f3ca7260.a55318","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":112,"y":341,"wires":[["7640135.3d6126c"]]},{"id":"7640135.3d6126c","type":"function","z":"f3ca7260.a55318","name":"","func":"msg.token = msg.req.headers[\"x-auth-token\"];\nmsg.sessionId = msg.payload.sessionId ;\nconsole.log('3.sessionId:'+ msg.payload.sessionId );\nconsole.log('4.token:'+ msg.token );\nconsole.log('3.' + ( ! msg.sessionId ) );\nconsole.log('4.' + ( ! msg.token ) );\nif( ! msg.token ){\n   msg.token = msg.sessionId ;\n}\nmsg.payload = { token : msg.token };\nvar resp = { result : 'ok' , token : msg.token };\nmsg.payload = resp;\n//msg.parm = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":399,"wires":[["51e929cc.269318","1f6789f4.37f46e","51298342.00d9b4"]]},{"id":"1f6789f4.37f46e","type":"http response","z":"f3ca7260.a55318","name":"","statusCode":"","headers":{},"x":438.9409942626953,"y":401.982666015625,"wires":[]},{"id":"b4d82f5b.b9b0b8","type":"http in","z":"f3ca7260.a55318","name":"","url":"/logout","method":"post","upload":true,"swaggerDoc":"","x":112.89582824707031,"y":253.88888549804688,"wires":[["51e929cc.269318","7640135.3d6126c","924e523b.b0a388"]]},{"id":"924e523b.b0a388","type":"debug","z":"f3ca7260.a55318","name":"","active":true,"console":"false","complete":"req.headers","x":350,"y":260,"wires":[]},{"id":"51298342.00d9b4","type":"debug","z":"f3ca7260.a55318","name":"","active":true,"console":"false","complete":"token","x":510,"y":300,"wires":[]},{"id":"fca24b85.f9a5a","type":"inject","z":"f3ca7260.a55318","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":130,"y":568,"wires":[["11033cdc.df888b"]]},{"id":"91560207.0f9958","type":"websocket out","z":"f3ca7260.a55318","name":"","server":"901be9b7.48d8b8","client":"","x":530,"y":568,"wires":[]},{"id":"d4f1358b.6ccc7","type":"http response","z":"f3ca7260.a55318","name":"","x":501,"y":508,"wires":[]},{"id":"43b5de53.5cacf","type":"http in","z":"f3ca7260.a55318","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":132,"y":508,"wires":[["29a81d04.359eba"]]},{"id":"29a81d04.359eba","type":"template","z":"f3ca7260.a55318","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":329,"y":508,"wires":[["d4f1358b.6ccc7"]]},{"id":"11033cdc.df888b","type":"function","z":"f3ca7260.a55318","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":568,"wires":[["91560207.0f9958"]]},{"id":"6a38d3ed.0495b4","type":"websocket in","z":"f3ca7260.a55318","name":"","server":"901be9b7.48d8b8","client":"","x":317,"y":620,"wires":[["ec28db8d.444278"]]},{"id":"ec28db8d.444278","type":"debug","z":"f3ca7260.a55318","name":"","active":true,"console":"false","complete":"false","x":507,"y":620,"wires":[]},{"id":"901be9b7.48d8b8","type":"websocket-listener","z":"f3ca7260.a55318","path":"/ws/simple","wholemsg":"false"}]