node-red/.flows_luizs-air.local.json.backup
[{"id":"22d32647.d1258a","type":"tab","label":"Flow 1"},{"id":"1c925b79.bda1b5","type":"http request","z":"22d32647.d1258a","name":"","method":"GET","ret":"txt","url":"http://compras.dados.gov.br/contratos/v1/contratos.json","tls":"","x":381.2777862548828,"y":299.5243225097656,"wires":[["f85c7463.4a76f8"]]},{"id":"78f4fada.220754","type":"inject","z":"22d32647.d1258a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":150,"y":300,"wires":[["1c925b79.bda1b5"]]},{"id":"f85c7463.4a76f8","type":"debug","z":"22d32647.d1258a","name":"","active":true,"console":"false","complete":"false","x":667.9444732666016,"y":294.90625,"wires":[]}]